body {
    font-family: 'Playfair Display', serif;
}


.container-wrapper--red {
    background-color: #d63d01;
    color: white;
}

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    color: #544600;
    background-color: #eec802;
    border-color: #eec802;
    padding: 5px 15px;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 0;
}

.callout-container {
    height: 100vh;

    background: url(images/whiskey-barrels.jpg) no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(82, 42, 23, 0.3);
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/* Navbar */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .25);
    border: 0;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}


/* Block Dividers */

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
}

.block-divider-orange {
    background-color: #d63d01;
}

.block-divider-short {
    width: 35px;
    background-color: #d63d01;
}

/* Jumbotron */

.jumbotron-header {

    color: #ffffff;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: capitalize;
}

.jumbotron {
    background-color: transparent;
}

.jumbotron .lead {
    color: #ffffff;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #ffffff;
}

.jumbotron,
.free {
    color: #d63d01;
    font-weight: bold;
}

/* Buttons */

.btn-cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn-orange {
    color: white;
    background-color: #d63d01;
    border-color: #522a04;
}

.btn-orange:hover,
.btn-orange:active,
.btn-orange:focus,
.btn-orange:active:focus {
    color: #d63d01;
    background-color: white;
    border-color: #522a04;
}

/* Page Headers */

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}

/* Quotes */

.quotes .page-header {
    margin-bottom: 25px;
}

/* Features */

.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

.feature .btn {
    background-color: white;
    border-color: white;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: #d63d01;
}